extends layout

block content
  h1= title
  p Welcome to #{title}
  input(placeholder = 'email', class = 'email')
  input(placeholder = 'password', class = 'pw')
  button(class = 'loginSubmit' type = 'submit') login
