@charset "utf-8"; 
.container{
    background: #333;
    position: absolute;
    width: 100%;
    height: 1000px;
    overflow: hidden;
    padding-bottom: 56.26%;
    opacity: 0.3;
    top: 0px;
    left: 0px;
}
#loginSection{
    position: absolute;
    top: 55px;
    right: 60px;
}
.login{
    position: absolute;
    top: 29%;
    left: 35%;
    width: 415px;
    height: 367px;
    background: #fff;
}

.signup{
    position: absolute;
    top: 27%;
    left: 35%;
    width: 415px;
    height: 415px;
    background: #fff;
}

#join-form input {
    padding: 5px;
    font-size: 20px;
    width: 300px;
    background: #F8F8F8;
    height: 35px;
    color: #555;
    border: 1px solid #ddd;
    margin-bottom : 10px
}

#join-form{
    margin: 49px;
    margin-top: 25px;
}

#loginButtom,  #joinButton {
    padding: 10px 0px;
    font-size: 23px;
    color: #fff;
    border: none;
    margin-bottom: 10px;
    display: inline-block;
    width: 313px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
#loginButtom{
    background: #526ABE;
}
#joinButton{
    background: #5CB6E8;
}

#loginButtomMain{
    font-size: 18px;
    margin-right: 10px;
    color: #333;
}

#joinButtonMain{
    font-size: 18px;
    color: #333;
}

#loginButtom:hover{
    background: #465aa2
}
#joinButton:hover{
    background: #48aee6
}

#error{
    margin-left: 48px;
    font-size: 13px;
    color: #c30000;
    position: absolute;
    top: 78px;
}
#title{
    font-size: 38px;
    margin-top: 31px;
    margin-bottom: 9px;
    margin-left: 48px;
}

#out{
    position: absolute;
    top: -17px;
    right: -15px;
    display: inline;
    background: #757575;
    padding: 0px;
    font-size: 37px;
    border-radius: 50%;
    width: 51px;
    height: 47px;
    text-align: center;
    padding-top: 4px;
    color: #ffffff;
    cursor: pointer;
    text-decoration: none
}