@charset "utf-8"; 
* {padding : 0px; margin :0px;}
body{    
    /* overflow-y: hidden; */
}
.headContainer{
    position: fixed;
    display: block;
    width: 100%;
    z-index: 100000;
    background: #fff;
}
.h1Container{
    text-align: center
}
h1{    
    padding: 25px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    /* font-size: 40px; */
    display: inline-block;
    width: 90%;
    padding-bottom: 0px;
}
h1 img{
    width: 342px;
}
.bodyContents{
    padding-top: 103px;
}
.newCardUl{
    text-align: center;
}
.newCardLi{
    width: 17%;
    height: 250px;
    display: inline-block;
    margin-left: 10px;
    overflow: hidden;
    position: relative;
}
.black{
    background: black;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    position: absolute;
}
.black:hover{
    background: #6b6b6b;
    opacity: 0.3;
    cursor: pointer;
}
.newCardImg{
    width: 100%;
    height: 100%;
}
.newCardSubject{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    width: 92%;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    bottom: 23px;
    z-index: 10000;
    color:#fff
}
.newCardContents{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    text-align: center;
    width: 92%;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    bottom: 0px;
    color:#fff;
    z-index: 10000;
}

.viewDiv{
    width: 80%;
    margin-left: 10%;
    text-align: left;
    padding-top: 103px;
}

.reportSubjectReport{
    font-size: 32px;
    font-weight: bold;
    margin: 32px 0;
}

.reportWrite{
    color: #989898;
    text-align: right;
    padding-bottom: 20px;
    border-bottom: 3px solid #f1f1f1;
}

.reportDate{
    color: #989898;
    text-align: right;
}

.reportImgReport{
    margin-top: 20px;
}

.report{
    font-size: 18px;
    text-align: left;
    margin-top: 43px;
    line-height: 42px;
} 

#writeDiv{
    padding-top: 145px;
}

#writeSpan{
    font-size: 25px;
}

.postInput input#subject{
    width: 772px;
    margin-left: 58px;
    padding: 5px;
    font-size: 20px;
    background: #F8F8F8;
    height: 35px;
    color: #555;
    border: 1px solid #ddd;
    margin-bottom : 10px
}

.postInput input#image{
    width: 772px;
    margin-left: 30px;
    padding: 5px;
    font-size: 20px;
    background: #F8F8F8;
    height: 35px;
    color: #555;
    border: 1px solid #ddd;
    margin-bottom : 10px
}

.postInput{
    width: 75%;
    margin-left: 12%;
    text-align: center;
}

.postInput #content{
    width: 883px;
    height: 400px;
    color: #555;
    border: 1px solid #ddd;
    background: #F8F8F8;
    font-size: 20px;
    resize: none;
}

.postInput #save{
    padding: 10px 27px;
    font-size: 21px;
    background: #5CB6E8;
    color:#fff;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}