extends main

block content
  .container
  .signup
    .timeline
    p#title SIGN UP
    a#out(href="/") x
    p#error #{err}
      form#join-form(action='/auth/join' method='post')
        .input-group
          input#join-email(type='email' name='email' placeholder="Email")
        .input-group
          input#join-nick(type='text' name='name' placeholder="NickName")
        .input-group
          input#join-password(type='password' name='password' placeholder="PassWord")
        if joinError
          .error-message= joinError
        button#joinButton.btn(type='submit') Sign up
        a#loginButtom(href = '/login') Login
