extends layout

block content
  .container
  p #{err}
    form#join-form(action='/auth/login' method='post')
      input#email(placeholder = 'email' name='email')
      input#password(type = 'password' placeholder = 'password' name='password')
      button#loginSubmit(type = 'submit') login
      a#join(href = '/join') sign up
    
