extends layout

block content
  p#title LOGIN
  p#out x
  p#error #{err}
  form#join-form(action='/auth/login' method='post')
    input#email(placeholder = 'Email' name='email')
    input#password(type = 'Password' placeholder = 'password' name='password')
    button#loginSubmit(type = 'submit') Login
    a#join(href = '/join') Sign up
    
