doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/login.css')
  body
    if data == "login"
        div#login
            a#logout(href="/auth/logout") logout
        block content
    else 
        div#notLogin
            a#loginButtomMain(href = '/login') Login
            a#joinButtonMain(href = '/join') Sign up
        block content