extends main

block content
  div#viewDiv
    span#writeSpan 제목
    p#subjectReport #{subject}
    img#imgReport(src=image)
    p#subjectReport #{contents}
    //- button#save(type = 'submit') save
    